/* Variables */
:root {
    --primary-color: #1EBBD7;
    --secondary-color: #D71E76;
    --dark-color: #1E4FD7;
    --darker-color: #1E68D7;
    --lighter-color: #1EA7D7;
    --neutral-background-color: #f5f5f5;
}

/* Reset default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Set a background color and text color */
body {
    background-color: var(--neutral-background-color);
    color: #333;
}

/* Center the content vertically and horizontally */
.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Add some padding and set text styles */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Style links as buttons */
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

/* Change the button background color on hover */
a.button:hover {
    background-color: var(--dark-color);
}

/* Create a simple navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Style form elements */
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn {

    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;


}

button:hover {
    background-color: var(--dark-color);
}

.btn:hover {
    background-color: var(--dark-color);
}

/*********** CARD STYLES *****************/

/* Card Container */
.card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: left;
}

/* Card Title */
.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Card Content */
.card-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Card Button */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

/* Change the button background color on hover */
.card-button:hover {
    background-color: var(--dark-color);
}

/*** LANDING PAGE STYLING ***/
.landing-container {
    margin: 0; /* Add margin for space around the container */
    padding: 10em; /* Add padding for space inside the container */
    text-align: center;
}

.landing-logo {
    max-width: 100%;
    height: 5em;
    width: auto;

}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
