<!-- add_transaction.html -->
{% extends "base.html" %}
{% block title %} Breadcrumbs | Add Transaction {% endblock %}
{% block nav_title %} Transactions {% endblock %}
{% set page = 'transaction' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mt-5">
            <h3>Add Transaction</h3>
            <form method="POST" action="{{ url_for('transactions.add_transaction') }}">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.date.label }}
                    {{ form.date(class="form-control", placeholder="dd-mm-yyyy") }}
                </div>

                <div class="form-group">
                    {{ form.cashflow.label }}
                    {{ form.cashflow(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.category.label }}
                    {{ form.category(class="form-control", id="category") }}
                </div>

                <div class "form-group">
                    {{ form.mode.label }}
                    {{ form.mode(class="form-control", id="mode") }}
                </div>

                <div class="form-group">
                    {{ form.comment.label }}
                    {{ form.comment(class="form-control", rows=4) }}
                </div>

                <div class="form-group">
                    {{ form.amount.label }}
                    {{ form.amount(class="form-control", step="0.01") }}
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
    <script>
        // Create a JavaScript object to store spending limits for each category
        var spendingLimits = {{ total_expenses_all_categories | tojson }};
        var categoryNames = {{ category_names | tojson | safe }};
    
        // Add an event listener to the form to check the spending limit when the form is submitted
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the form from submitting by default
    
            // Get the selected category_id from the form
            var categoryId = document.querySelector('#category').value;
            var categoryName = categoryNames[categoryId];
            var spendingLimit = spendingLimits[categoryName];
    
            // Get the transaction amount from the form
            var transactionAmount = parseFloat(document.querySelector('#amount').value);
    
            // Check if the spending limit has been exceeded
            if ( transactionAmount > spendingLimit) {
                alert(`Spending limit for ${categoryName} has been exceeded!`);
            } else {
                // If not exceeded, proceed with form submission
                event.target.submit();
            }
        });
    </script>
{% endblock %}
