<!DOCTYPE html>
<html>
<head>
    <title>Breadcrumbs landing page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container landing-container">
        
        <div>
            

            <h1>Welcome to </h1> 
            <img src="{{ url_for('static', filename='img/breadcrumbs_logo_black.png') }}" alt="Breadcrumbs Logo" class="landing-logo">

            <h2>Experience an easy, well organized and healthy financial life!</h2>
        </div>
        
        <div>
            <a href="{{ url_for('auth.register') }}" class="btn">Register</a>
        </div>
    </div>
</body>
</html>
