{% extends "base.html" %}
{% block title %} Breadcrumbs | Settings {% endblock %}
{% block nav_title %} Settings {% endblock %}
{% set page = 'settings' %}

{% block content %}
    <h1>User Settings</h1>

    <h2>Profile Settings</h2>
    <form method="post" action="">
        {{ profile_form.hidden_tag() }}
        <div class="form-group">
            {{ profile_form.first_name.label(class="form-control-label") }}
            {{ profile_form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ profile_form.last_name.label(class="form-control-label") }}
            {{ profile_form.last_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ profile_form.date_of_birth.label(class="form-control-label") }}
            {{ profile_form.date_of_birth(class="form-control") }}
        </div>
        {{ profile_form.submit(class="btn btn-primary") }}
    </form>

    <h2>Account Settings</h2>
    <form method="post" action="">
        {{ account_form.hidden_tag() }}
        <div class="form-group">
            {{ account_form.username.label(class="form-control-label") }}
            {{ account_form.username(class="form-control") }}
        </div>
        <div class "form-group">
            {{ account_form.email.label(class="form-control-label") }}
            {{ account_form.email(class="form-control") }}
        </div>
        {{ account_form.submit(class="btn btn-primary") }}
    </form>

    <h2>Change Password</h2>
    <form method="post" action="">
        {{ password_form.hidden_tag() }}
        <div class="form-group">
            {{ password_form.current_password.label(class="form-control-label") }}
            {{ password_form.current_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ password_form.new_password.label(class="form-control-label") }}
            {{ password_form.new_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ password_form.confirm_password.label(class="form-control-label") }}
            {{ password_form.confirm_password(class="form-control") }}
        </div>
        {{ password_form.submit(class="btn btn-primary") }}
    </form>

    <h2>Set Goals</h2>
    <form method="post" action="">
        {{ goals_form.hidden_tag() }}
        <div class="form-group">
            {{ goals_form.spending_limit.label(class="form-control-label") }}
            {{ goals_form.spending_limit(class="form-control") }}
        </div>
        <div class="form-group">
            {{ goals_form.income_goal.label(class="form-control-label") }}
            {{ goals_form.income_goal(class="form-control") }}
        </div>
        {{ goals_form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
