{% extends "base.html" %}
{% block title %}Breadcrumbs | Transactions{% endblock %}
{% block nav_title %}Transactions{% endblock %}
{% set page = 'transactions' %}

{% block content %}
    <!-- Transactions Page -->
    <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <h6>Transaction History</h6>
                {% if flash_message %}
                    <div class="flash-message">{{ flash_message }}</div>
                {% endif %}
              </div>
              <div class="card-body px-0 pt-0 pb-2">
                <div class="row mb-4 text-end" style="margin: 0 1.5em;">
                    <!-- Button to add a new transaction -->
                    <div>
                        <a href="{{ url_for('transactions.add_transaction') }}" class="btn btn-primary">Add Transaction</a>
                    </div>
                </div>
                {% if transactions %}
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cashflow</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mode</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Comment</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>
                                <div class="d-flex px-2"><p class="text-sm font-weight-bold mb-0">{{ transaction.date.strftime("%d-%m-%Y") }}</p>
                                </div>
                            </td>
                            <td><p class="text-sm font-weight-bold mb-0">{{ transaction.cashflow }}</p></td>
                            <td><p class="text-sm font-weight-bold mb-0">{{ transaction.category.name }}</p></td>
                            <td><p class="text-sm font-weight-bold mb-0">{{ transaction.mode }}</p></td>
                            <td class="align-middle text-center"><p class="text-sm font-weight-bold mb-0">{{ transaction.comment }}</p></td>
                            <td class="align-middle text-center">
                                <!-- Edit Transaction -->
                                <a href="{{ url_for('transactions.edit_transaction', transaction_id=transaction.id) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit Transaction">
                                    <i class="fa fa-edit text-xs mb-3 ms-3"></i>
                                </a>
                                <!-- Delete Transaction -->
                                <form method="post" action="{{ url_for('transactions.delete_transaction', transaction_id=transaction.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button style="background: none;
                                    border: none;
                                    padding: 0;
                                    cursor: pointer;
                                    font-size: inherit;
                                    color: inherit;" type="submit" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete Transaction">
                                        <i class="fa fa-trash text-xs mb-3 ms-3"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                    <p>No transactions found.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        
      </div>
{% endblock %}
